@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-image: url(https://www.sbs.com.au/popasia/sites/sbs.com.au.popasia/files/btsloveselfanswer1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: white;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 2px #FFCCCC;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.8);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #FFCCCC;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/46501815_2436318689716712_505677633976008704_o.jpg?_nc_cat=103&_nc_ht=scontent-tpe1-1.xx&oh=367561280e5a832772096b5a43edbd1e&oe=5CCC6AD2);
  height: 310px;
  width: 480px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 100%;
}
section#section_about .img_wrap {
  height: 300px;
  overflow: hidden;
}
