nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") BTS/방탄소년단
    .nav.navbar-nav.navbar-right
      li
        a(href="section#section_ask") INTRO
      li
        a(href="section#section_about") ALBUM
      li
        a(href="section#section_video") MUSIC VIDEO
      li
        a(href="https://twitter.com/BTS_twt?lang=zh-tw" target="_blank") @BTS_twt
header.jumbotron
  .container
    h1 방탄소년단
    hr
    h4 Korean Idol Group
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 Beyond The Scene
section#section_about
  .container
    .row
      .col-sm-12
        h1 ALBUM
        hr
      .col-sm-4
        .img_wrap
          img(src="https://upload.wikimedia.org/wikipedia/zh/4/44/%E9%98%B2%E5%BD%88%E5%B0%91%E5%B9%B4%E5%9C%98_-_Love_Yourself_%E6%89%BF_%27Her%27.png", alt="")
        h3 Love Yourself 承 ‵Her′
        p 這張專輯是作為他們在2017年下旬到2018年為止將要呈現的新主題「Love Yourself」系列的首張專輯。該專輯通過數位音樂下載服務商販售的版本共收錄9首歌曲，實體CD則收錄11首歌曲，包含兩首隱藏曲，數位專輯及實體專輯收錄的〈DNA〉為主打歌，由Big Hit娛樂企劃製作，LOEN娛樂發行，於2017年9月18日除了在下午6時通過各大數位音樂網站公開全專線上音源之外，實體專輯也會在當天以四種不同版本發售。
      .col-sm-4
        .img_wrap
          img(src="https://upload.wikimedia.org/wikipedia/zh/9/94/BTS_Hwayang-yeonhwa_Young_Forever.jpg", alt="")
        h3 花樣年華 Young Forever
        p 「青春二部曲」系列專輯的收尾作品。2016年5月2日由Big Hit娛樂製作，LOEN娛樂發行，主打曲目為〈불타오르네（FIRE）〉。
      .col-sm-4
        .img_wrap
          img(src="http://images6.fanpop.com/image/photos/39900000/-BTS-WINGS-bts-39938178-635-635.jpg", alt="")
        h3 WINGS
        p 2016年10月10日推出的第二張韓語正規專輯，主打歌曲為〈피 땀 눈물（血汗淚）〉，而在2017年2月13日推出改版專輯WINGS外傳：《You Never Walk Alone》，均由Big Hit娛樂製作，LOEN娛樂發行。《WINGS》專輯預購量達到50萬張，而在2017年1月13日韓國Gaon排行榜公布的「2016年總結算專輯排行榜」中，以75萬1301張銷量奪得年度專輯冠軍，並且是Gaon排行榜自統計以來最高的銷量紀錄。2017年2月10日，《You Never Walk Alone》專輯預購量突破70萬張。
section#section_video
  .container
    .row
      .col-sm-12
        h1 MUSIC VIDEO
        hr
      .col-sm-12
       .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/MBdVXkSdhwU", allowfullscreen="")